/* ========== Footer ========== */

.footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  background-color: transparent;
  position: relative;
}

.footer__wrapper::before {
  content: "";
  position: absolute;
  width: 40%;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: radial-gradient(
  circle,
  rgba(109, 109, 255, 0.35) 0%,
  rgba(109, 109, 255, 0.25) 40%,
  rgba(109, 109, 255, 0.12) 50%,
  transparent 75%
);

  filter: blur(100px);
  z-index: -1;
}


.footer__title {
  font-weight: 700;
  font-family: "Black", Arial, sans-serif;
  font-size: 40px;
}

.footer__email {
  color: #6D6DFF;
  font-style: normal;
}

.footer__links {
  display: flex;
  justify-content: center;
  gap: 70px;
  margin-top: 20px;
}

/* ========== States ========== */

.footer__email:hover, .footer__links a:hover {
  opacity: 0.5;
}

/* ========== Media queries ========== */

@media screen and (max-width: 320px) {

  .footer__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .footer__link {
    flex-shrink: 0;
  }

  .footer__link a {
    display: block;
  }

  .footer__links img {
    width: 24px;
    height: 24px;
    object-fit: contain;
  }

}