/* ========== Header ========== */
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.header__profile {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 30px;
}

.header__title {
  font-family: "Black", Arial, sans-serif;
  font-size: 72px;
  margin: 0;
}

.header__title span {
  display: block;
}

.header__subtitle {
  color: #FFFFFF80;
  font-size: 18px;
}

.header__content {
  text-align: justify;
}

.header__navbar {
  display: flex;
  gap: 30px;
}

.header__navbar--item a {
  position: relative;
  font-weight: 600;
  padding-bottom: 6px;
}

/* La línea */
.header__navbar--item a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #3b82f6, #8b5cf6);
}

/* La imagen */
.header__img-wrapper {
  position: relative;
  max-width: 387px;
  max-height: 500px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* HALO */
.header__img-wrapper::before {
  content: "";
  position: absolute;

  width: 120%;
  aspect-ratio: 1;

  top: 50%;
  left: 50%;
  transform: translate(-65%, -30%);

  border-radius: 50%;

  background: radial-gradient(
    circle,
    rgba(109, 109, 255, 0.9) 0%,
    rgba(109, 109, 255, 0.5) 40%,
    rgba(109, 109, 255, 0.2) 60%,
    transparent 75%
  );

  filter: blur(80px);
  z-index: -1;
}

.header__img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
}

/* ========== States ========== */

.header__navbar--item:hover {
  opacity: 0.5;
}

/* ========== Media queries ========== */

@media screen and (max-width: 768px) {
  .header__subtitle--bar {
    display: none;
  }

  .header__img-wrapper {
    max-width: 216px;
    max-height: 280px;
  }

  .header__title {
    font-size: 58px;
  }

  .header__subtitle-part {
    display: block;
  }
}



@media screen and (max-width: 320px) {

  .header {
    flex-direction: column;
  }

  .header__img-wrapper {
    max-width: 280px;
    max-height: 280px;
    order: -1;
  }

  .header__title {
    font-size: 36px;
  }

  .header__subtitle, .header__content {
    font-size: 14px;
  }

  .header__navbar {
    flex-direction: column;
  }
}